.row.shadow
  #skills.section
    %img#title{:alt => "Skills", :src => "images/skills_title_03.png"}/
    %h1 {Here are the skills you will acquire.}
    %h2 Web App Development
    %ul#dev-skills
      .toggle{"data-target" => "1"}
        %li Ruby on Rails
      #showable-1.showable
        %p some content
      .toggle{"data-target" => "2"}
        %li HTML/CSS
      #showable-2.showable
        %p some content
      .toggle{"data-target" => "3"}
        %li Wireframing, UI Design, Prototyping
      #showable-3.showable
        %p some content
    %h2 Entrepreneurship
    %ul#soft-skills
      .toggle{"data-target" => "4"}
        %li Ideation
      #showable-4.showable
        %p Learning how to come up with ideas.
      .toggle{"data-target" => "5"}
        %li Business Modeling
      #showable-5.showable
        %p some content
      .toggle{"data-target" => "6"}
        %li Presentation Skills
      #showable-6.showable
        %p some content

